*
  box-sizing: border-box;
  
html
  width: 100%;
  overflow: hidden;
body
  margin: 0;
  font-family: 'FuturistBold', sans-serif;
  font-weight: 100;

.global
  text-align: center;

strong 
  font-weight: bold;