highlight--color = #8b008b;
red--color = #aa1c07;

header--width = 200px;

section_sm--padding = 2em;
section_md--padding = 50px;
section_lg--padding = 100px;

narrow--max-width = 960px;
wide--max-width = 1400px;