@import '~assets/styles/mixins.styl';

delay(delayIt = true, overrider = false)
  value = 0s;
  if delayIt 
    value = .1s;
  if overrider
    value = value !important;

  transition-delay: value;
  transition-timing-function: ease-in-out;

#main-header
  background-color: white;
  width: wd = 200px;
  height: 100vh;
  top: 0;
  bottom: 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  left: -(wd);
  delay(false);
  
  &.open
    left: 0;
    delay(true, true);

  +md()
    left: 0;

#main-header, #hamburguer
  transition: left .5s cubic-bezier(0,.08,0,1.01);
  position: fixed;
  



hamburguer-strip(space)
  content: '';
  height: (space/3);
  border-radius: 10px;
  width: space*3;
  position: absolute;
  background-color: grey;

#hamburguer
  space = 12px;
  duration = .2s;
  color = rgba(0,0,0,.2);

  hamburguer-strip(space);
  delay(true);

  position: fixed;
  
  top: space*2;
  left: space*2;
  opacity: 1;

  transition-property: background-color, box-shadow;
  transition-duration: duration;
  box-shadow: 0 0 transparent;

  &:before, &:after
    hamburguer-strip(space);
    delay(true);
    transition-property: opacity, width, height, background-color;
    transition-duration: duration;


  &.open 
    delay(false, true);
    top: 0;
    left: 0;
    height: 100vh;    
    width: 100vw;
    background-color: color;
    border-radius: 0;
    box-shadow: inset 0 0 500px 100px color;

    &:before, &:after
      delay(false, true);
      width: 0;
      height: 0;
      opacity: 0;
      background-color: color;

  &:before
    top: space;
  &:after
    top: space * 2;

  +md()
    display: none;