@import '~assets/styles/mixins.styl';

delay(delayIt = true, overrider = false)
  value = 0s;
  if delayIt 
    value = .2s;
  if overrider
    value = value !important;

  transition-delay: value;

#main-header
  width: wd = 200px;
  height: 100vh;
  top: 0;
  bottom: 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  left: -(wd);
  delay(false);
  
  &.open
    delay(true, true);
    left: 0;
  
  +md()
    left: 0;

#main-header, #hamburguer
  transition: left .5s cubic-bezier(0,.08,0,1.01);
  position: fixed;



hamburguer-strip(space)
  content: '';
  height: (space/3);
  border-radius: 10px;
  width: space*3;
  position: absolute;
  background-color: grey;

#hamburguer
  space = 12px;
  
  delay(true);
  hamburguer-strip(space);

  top: space*2;
  left: space*2;
  
  &.open 
    delay(false, true);
    left: -(5*space);

  &:before, &:after
    hamburguer-strip(space);
  &:before
    top: space;
  &:after
    top: space * 2;
  &.open
    left: -5*space;


  +md()
    display: none;